<!-- templates/update_status/partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Ling In</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- LINK MENUJU Status, Profile, Friends, dan Stats  -->
        <li class="nav-item active">
          <a class="nav-link" href="/update-status">Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-friend">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/statistik">Stats</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
