{% extends "update_status/layout/base.html" %}

{% block content %}

<section name="input-list" id="input-list">

    <div class="container">
        <form id="form" method="POST" action="{% url 'update-status:add_post' %}">
            {% csrf_token %}
            {{ status_form }}
            <div class="post-setting">
                <ul class="sharing-share-box">
                    <li class="upload-image">
                        <div class="button-secondary-small-media">
                            <label class="sharing-share-upload">
                                <span class="svg-icon-wrap"><li-icon aria-hidden="true" type="camera-icon" class="sharing-share-action-media__upload-camera-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
                                    <path d="M21,6H18L16.5,3h-9L6,6H3A1,1,0,0,0,2,7V19a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V7A1,1,0,0,0,21,6ZM7.36,8l1.5-3h6.28l1.5,3H20v2H16.58a5,5,0,0,0-9.16,0H4V8H7.36Zm7.76,4A3.13,3.13,0,1,1,12,8.88,3.13,3.13,0,0,1,15.13,12ZM4,18V11H7.1a5,5,0,1,0,9.8,0H20v7H4Z"></path>
                                </g></svg></li-icon></span>

                                <span class="sharing-subaction-bar__button-text">
                                  Image
                              </span>
                          </label>
                      </div>
                    </li>
                  <li class="upload-video">
                    <div class="button-secondary-small-media">
                        <label for="uploadElementId" class="sharing-share-action-media__upload-input-label">
                            <span class="svg-icon-wrap"><li-icon aria-hidden="true" type="video-camera-icon" class="sharing-share-action-media__upload-camera-icon"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
                                <path d="M21,5.92a1,1,0,0,0-.57.18L17,8.5V7a1,1,0,0,0-1-1H3A1,1,0,0,0,2,7V17a1,1,0,0,0,1,1H16a1,1,0,0,0,1-1V15.5l3.43,2.4a1,1,0,0,0,.57.18,1,1,0,0,0,1-1V6.92A1,1,0,0,0,21,5.92ZM15,16H4V8H15v8Zm2-5.21,3-2.1v6.62l-3-2.1V10.79Z"></path>
                                </g></svg></li-icon>
                            </span>
                            <span class="sharing-subaction-bar__button-text">Video</span>
                        </label>
                    </div>
                  </li>
              </ul>
              <input id="submit" type="submit" class="button-info" value="Post">
          </div>
          <br>
      </form>
  </div>
</section>

<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title"></h2>
        <div class="flex">
            {% if status %}
            {% for data in status %}
            <div class="flex-item">
                <div class="to-do-list">
                    <div class="pembuat">
                        <img src="https://rosatamarindus.github.io/img/profile.jpg" class="image-status">
                        <div class="p-author">
                            <div class="to-do-list-author">
                            {{author}}
                            </div>
                            <br>
                            <div class="to-do-list-date-added">
                            {{data.created_date}}
                            </div>
                        </div>

                    </div>

                    <div class="to-do-list-description">
                        {{data.description}}
                    </div>
                    <div class="to-do-list-delete">
                        <div class="to-do-list-delete-button" data-id="{{data.id}}">Delete</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Anda belum memposting apapun.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}        
